<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003e46"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#003e46">
    <link rel="shortcut icon" href="./favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>{{ (page_title | strip_tags) ?? title }} | {{ site:name }}</title>
    {{ vite src="resources/js/main.ts|resources/scss/main.scss" }}
</head>
<body id="top">
<a class="visually-hidden" href="#main-content">Aller au contenu principale</a>
{{ partial:header }}
<main id="main-content">
    {{ template_content }}
</main>
<a class="btn btn--go-up" href="#top"
   title="Remonter vers le haut de la page">{{ svg src="css/arrow-down-menu" }}</a>
{{ partial:footer }}
</body>
</html>
