<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003e46"/>
    <link rel="icon" type="image/svg+xml" href="./favicon/favicon.svg">
    <link rel="icon" type="image/png" href="./favicon/favicon.png">
    <title>{{ (page_title | strip_tags) ?? title }} | {{ site:name }}</title>
    {{ vite src="resources/js/main.ts|resources/scss/main.scss" }}
</head>
<body id="top">
<a class="visually-hidden" href="#main-content">Aller au contenu principale</a>
{{ partial:header }}
<main id="main-content">
    {{ template_content }}
</main>
<a class="btn btn--go-up" href="#top"
   title="Remonter vers le haut de la page">{{ svg src="css/arrow-down-menu" }}</a>
{{ partial:footer }}
</body>
</html>
