<footer class="footer">
    {{ svg src="css/arrow" }}
    <div class="wrapper">
        <div class="footer_content">
            {{ if footer:partners  }}
                <nav class="partners" aria-label="{{ footer:partners_title }}">
                    <h2 class="">{{ footer:partners_title }}</h2>
                    {{ footer:partners }}
                    <a rel="external" href="{{ link }}" title="Aller sur la page : {{ name }}"><span
                        class="visually-hidden">{{ name }}</span>{{ logo }}</a>
                    {{ /footer:partners }}
                </nav>
            {{ endif }}
            <nav class="main-nav" aria-label="Plan du site">
                <h2 class="">Plan du site</h2>
                {{ partial:main-nav }}
            </nav>
            <section class="footer__contact">
                <h2>{{ footer:contacts_title }}</h2>
                {{ if footer:contacts  }}
                    {{ footer:contacts }}
                    <div class="footer__contact__info">
                        {{ info }}
                    </div>
                    {{ /footer:contacts }}
                {{ endif }}
                {{ svg src="css/arobase" }}
            </section>
            {{#             <nav class="tools-nav" aria-label="{{ footer:tools_title }}"> #}}
            {{#                 <h2 class="">{{footer:tools_title}}</h2> #}}
            {{#                 {{ partial:second_nav }} #}}
            {{#             </nav> #}}
            <div class="footer__po">
                <div class="h2">Pouvoir organisateur</div>
                <a rel="external" title="Aller sur la page : Wallonie-Bruxelles Enseignement"
                   href="https://www.wbe.be">{{ svg src="./logo/wbe-enseignement-vertical.svg" }}</a>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="{{ footer:terms_of_use }}">Conditions d’utilisation</a>
            <a href="{{ footer:cookie_policy }}">Politique de gestion des cookies</a>
            <p lang="en">Made by <a lang="fr" href="https://artisan-web.be">Artisan Web</a>.</p>
        </div>
    </div>
</footer>
