{{ nav:main_nav include_home="true" max_depth="2" }}
    {{ if children }}
        <div class="children" tabindex="0">
        {{ svg src="css/arrow-down-menu" }}
    {{ /if }}
        <a href="{{ url }}" class="{{ is_current || is_parent ? "current" : "" }}">
        {{ svg src="css/arrow-left" }}<div class="p-r"><span>{{ title }}{{ svg src="css/current" }}</span></div></a>
    {{ if children }}
            <div class="children__items">{{ *recursive children* }}</div>
    {{ /if }}
    {{ if children }}
        </div>
    {{ /if }}
{{ /nav:main_nav }}
