<form action="/search/results" class="search-form" role="search" aria-labelledby="search-label">
    <label for="search-input" id="search-label" class="search-form__label">Rechercher <strong>votre</strong> formation&nbsp;:</label>
    <div class="search-form__input-container">
        <input type="search" class="search-form__input-container__search" id="search-input" name="q"
               placeholder="Le nom, la catégorie, etc." required>

        <button type="submit" class="search-form__input-container__submit"><span
            class="visually-hidden">Rechercher</span>{{ svg src="css/search-icon" }}</button>
    </div>
</form>
<template id="keyboard-template"><span class="search-form__input-container__shortcut"><kbd
    id="os">&#8984;</kbd><kbd>k</kbd></span></template>
