<nav class="categories" aria-label="{{ cat_title }}">
    <h2 class="categories__header wrapper">{{ svg src="css/ampoule" }}{{ cat_title }}</h2>
    {{ svg src="css/claw-shapes" class="categories__claw" }}
    <div class="categories__slider swiper wrapper">
        <ul class="swiper-wrapper">
            {{ taxonomy:courses_categories }}
                <li class="categories__category swiper-slide">
                    <a class="categories__category__link" href="{{ url }}">
                        <span class="categories__category__link__icon">{{ icon }}</span>
                        <span>{{ title }}</span>
                        {{ partial src="partials/category-levels" :items="category_levels" }}
                    </a>
                </li>
            {{ /taxonomy:courses_categories }}
        </ul>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="categories__cta wrapper">
        <a class="btn " href="#">Voir toutes nos formations</a>
    </div>
    {{ svg src="css/star" class="categories__star" }}
</nav>
