<section class="slider-section slider-section--news">
    <div class="slider-section__header"><h2>{{ svg src="css/claw-shapes" }}{{ news_title }}</h2></div>
        <div class="wrapper slider slider--news">
            {{ news }}
            {{ partial:news.preview }}
            {{ /news }}
        </div>
    <div class="wrapper slider-section__more">
        <a class="btn" href="{{ link_to_news }}" title="Tous les autres évènements et actualités">Découvrez toutes nos
            actualités</a>
    </div>
</section>
