<section class="slider-section slider-section--news">
    <div class="slider-section__header"><h2>{{ svg src="css/claw-shapes" }}{{ news_title }}</h2></div>
    <div class="slider-section__slider swiper swiper-horizontal wrapper">
        <div class="swiper-wrapper">
            {{ news }}
            {{ partial:news.preview }}
            {{ /news }}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="wrapper news__more">
        <a class="btn" href="{{ link_to_news }}" title="Tous les autres évènements et actualités">Découvrez toutes nos
            actualités</a>
    </div>
</section>
