/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$base-size: 1rem;
$base-size-xs: $base-size * 0.2;
$base-size-s: $base-size * 0.5;
$base-size-l: $base-size * 2;
$base-size-xl: $base-size * 3;
$base-size-xxl: $base-size * 4;
$base-size-xxxl: $base-size * 5;

$primary: #003e46;
$primary--alpha: rgba(0, 62, 70, 0.4);
$secondary: #FBBA00;
$tertiary: #001D77;
$quaternary: #E11F21;
$white: #ffffff;
$light: #fafafa;
$light-shade: #eeeeee;
$grey: #c4c4c4;


$transition: 0.4s ease;
$border: 2px solid $secondary;
$max-width: $base-size*100;
$xxl-screen: 1900px;
$box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
$box-shadow--color: 3px 3px 6px $secondary;


$bold: 'Inter-Bold' Helvetica, sans-serif;

$burger-line-height: 2px;

