.aside {
    background: $light-shade;
    border-radius: 0 $base-size 0 $base-size;
    overflow: clip;
    box-shadow: $box-shadow;

    &__header {
        margin: 0;
        padding: $base-size;
        color: $white;
        background: $primary;
    }

    &__content {
        padding: $base-size;
    }

    h3 {
        margin-bottom: 0;
    }
}
