.btn, button {
    background-color: $primary;
    border: 2px solid $secondary;
    text-decoration: none;
    font-family: $bold;
    font-weight: bold;
    color: $white;
    padding: $base-size-s $base-size;
    border-radius: $base-size-s 0 $base-size-s 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: $transition;
    white-space: nowrap;

    &:hover, &:focus, &--active {
        text-decoration: none;
        background-color: $secondary;
        border-radius: 0 $base-size-s 0 $base-size-s;
        color: $primary;
        border: 2px solid $primary;
        outline-offset: 2px;
    }

}

.btn--with-svg {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: start;
    gap: $base-size-s;
}

.btn--secondary {
    background-color: $white;
    border-color: $secondary;
    color: $primary;

    &:hover, &:focus {
        background-color: $primary;
        border-color: $secondary;
        color: $white;
    }
}

.btn--disabled {
    background-color: $light-shade;
    border-color: $primary;
    color: $primary;
    cursor: not-allowed;

    &:hover, &:focus {
        border-radius: $base-size-s 0 $base-size-s 0;
        background-color: $light-shade;
        border-color: $primary;
        color: $primary;
    }
}
