.wrapper {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: $base-size-xxl;
}

.grid-card {
    padding-bottom: $base-size-xl;
    display: grid;
    gap: $base-size-l;
    @media screen and (min-width: 680px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $max-width) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    &__header {
        width: 100%;

        i {
            color: $secondary;
            font-style: normal;
        }

        span {
            color: $secondary;
            font-size: 0.8em;
            font-weight: 700;
            display: block;
            font-family: 'Inter-Light', sans-serif;
        }
    }

    &__glass {
        display: none;
    }

    @media screen and (min-width: 600px) {
        align-items: flex-end;

        &__glass {
            display: block;
            position: absolute;
            right: 11%;
            z-index: -1;
            width: auto;
            fill: $light;

        }
    }

}
