main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: $base-size-xxl;
}

.grid-card {
    padding-bottom: $base-size-xl;
    display: grid;
    gap: $base-size-l;
    @media screen and (min-width: 680px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $max-width) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.search-wrapper {
    display: flex;
    flex-direction: column;

    &__header {
        width: 100%;
    }

    @media screen and (min-width: 600px) {
        align-items: flex-end;
    }
}
