.news-preview {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: $base-size 0 0;
    overflow: clip;
    background: $white;
    position: relative;
    border-radius: 0 $base-size 0 $base-size;
    box-shadow: $box-shadow;
    margin-bottom: $base-size;
    &__tag {
        padding: $base-size-xs $base-size;
        margin-right: $base-size;
        font-weight: bold;
        background: $primary;
        border-radius: 0 $base-size-xs 0 $base-size-xs;
        color: $white;
        text-decoration: none;
        box-shadow: $box-shadow;
    }

    &__header {
        font-family: "Inter-Bold", Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin: $base-size-xs 0;
    }

    &__content {
        padding: $base-size;
        text-decoration: none;
        flex-grow: 1;
        position: relative;

        &:hover {
            color: $primary;
        }
    }

    &__more {
        padding-top: $base-size-l;;
        padding-bottom: $base-size-l;
        color: $primary;
        font-weight: bold;
        display: block;
        text-align: center;
        width: 100%;
        font-family: "Inter-Bold", Helvetica, sans-serif;

    }

    &__img-container {
        width: 100%;
        margin: $base-size 0;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: auto;
            box-shadow: $box-shadow;
            border-radius: $base-size-xs;
            aspect-ratio: 16/9;
            object-fit: cover;
            transition: $transition;
        }
    }

    &__info {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: $base-size;
        background: $secondary;
        width: 100%;
        gap: $base-size;

        svg {
            fill: $primary;
            height: $base-size-l;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: $base-size;

            &:nth-child(2) {
                border-top: 1px dashed $white;
                padding-top: $base-size;
            }

            a {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                color: $primary;
                align-items: center;
                gap: $base-size;

                svg {
                    fill: $primary;
                    transition: $transition;

                }
            }

            &:hover, &:focus {
                a {
                    color: $white;

                    svg {
                        transition: $transition;
                        fill: $white;
                    }
                }

            }

        }
    }

}

.news-preview__content:hover img {
    transform: scale(1.1);
}
