.news {
    &::selection {
        background: none;
    }

    &__more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: $base-size;
        @media screen and (min-width: 768px) {
            justify-content: flex-end;
            margin-top: $base-size-l;
        }
        @media screen and (min-width: $xxl-screen) {
            .btn {
                margin-right: $base-size;
            }
        }
    }

    &__header {
        position: relative;
        overflow: visible;

        h2 {
            color: white;
            background: $primary;
            padding: $base-size-l $base-size;
            border-radius: $base-size 0 0 $base-size;
            margin: 0 - $base-size 0 0;
            @media screen and (min-width: $max-width) {
                margin-right: 0;
                border-radius: $base-size;
            }
        }

        svg {
            position: absolute;
            bottom: -8.6875rem;
            left: -5rem;
            fill: $secondary;

            &:hover {
                fill: $primary;
            }
        }
    }

    &__slider {
        padding-left: $base-size-l;
        @media screen and (min-width: $max-width) {
            padding: $base-size-l;
        }
    }

}
