body .search-form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: $base-size-s;

    &__input-container {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: $base-size-s;
        width: 100%;
        position: relative;

        &__search {
            flex-grow: 1;
            border-radius: $base-size-s 0 0 $base-size-s;
            background: $white;
            min-width: 17.5rem;
        }

        &__submit {
            flex-shrink: 1;
            width: fit-content;
            border-radius: 0 $base-size-s $base-size-s 0;

            svg {
                fill: $white;
                width: $base-size;
                height: auto;
            }
        }

        &__shortcut {
            display: flex;
            position: absolute;
            right: 68px;

            kbd {
                align-items: center;
                border-radius: 3px;
                display: flex;
                height: $base-size;
                justify-content: center;
                margin-right: .4em;
                position: relative;
                top: -1px;
                border: 1px solid $secondary;
            }
        }
    }

    &__label {
        text-align: left;
    }


}
