.slider-section {
    &::selection {
        background: none;
    }

    svg.new {
        .stain {
            fill: white;
        }
    }

    &__more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: $base-size;
        @media screen and (min-width: 768px) {
            justify-content: flex-end;
            margin-top: $base-size-l;
        }

    }

    &__header {
        position: relative;
        overflow: visible;
        margin-left: $base-size;
        margin-bottom: -$base-size-l;

        h2 {
            color: white;
            background: $primary;
            padding: $base-size-l $base-size;
            padding-bottom: $base-size-xxl;
            border-radius: $base-size 0 0 $base-size;
            margin: 0;
            margin-bottom: -$base-size-xxxl;
        }

        @media screen and (min-width: $xxl-screen) {
            margin-left: auto;
            margin-right: auto;
            max-width: $max-width;
            h2 {
                border-radius: $base-size;
            }
        }

        svg {
            position: absolute;
            bottom: -8.6875rem;
            left: -5rem;
            fill: $secondary;

            &:hover {
                fill: $primary;
            }
        }

        &--si {
            h2 {
                background: $quaternary;
            }
        }

        &--full {
            max-width: none;
            h2 {
                border-radius:  $base-size 0 0 $base-size;
            }
            @media screen and (min-width: $xxl-screen) {
                margin-left: calc((100vw - $max-width) / 2);
            }
        }

        &--ss {
            h2 {
                background: $secondary;
            }
        }

        &--stc {
            h2 {
                background: $tertiary;
            }
        }
    }

    &__slider {
        padding-left: $base-size-l;

        @media screen and (min-width: $max-width) {
            padding-left: calc((100vw - $max-width) / 2);
            padding-bottom: $base-size-l;
        }
    }

}
