.swiper-button-prev, .swiper-button-next {
    background: $primary;
    color: $white;
    border-radius: 50% 0 0 50%;
    border: 2px solid $secondary;

    &:after {
        font-size: $base-size;
    }

    transition: $transition;

    &:hover {
        background: $secondary;
        color: $primary;
        border-color: $primary;

    }
}

.swiper-button-next {
    border-radius: 0 50% 50% 0;
}

.swiper-pagination {
    position: inherit;
    padding-top: $base-size-l;
}

@media screen and (max-width: $max-width) {
    .swiper-button-prev {
        left: $base-size;
    }
}

:root {
    --swiper-navigation-size: 2.5rem;
    --swiper-pagination-bullet-width: 0.8rem;
    --swiper-pagination-bullet-height: 0.8rem;
    --swiper-navigation-sides-offset: 0;
    --swiper-pagination-color: #ffb000;
    --swiper-theme-color: #003e46;
    --swiper-pagination-bullet-inactive-color: #c4c4c4;
    --swiper-pagination-bullet-inactive-opacity: 1;
}

@media (hover: none) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

.swiper::selection {
    background: none;
}

.swiper-slide {
    transition: transform 0.4s ease;
}

@media screen and (hover) {
    .swiper-wrapper:has(.swiper-slide:hover) .swiper-slide:not(:hover) {
        transform: scale(0.95);
    }
    .swiper-slide:hover {
        transform: scale(1.02);
    }
}


.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    //display: none;
}
.swiper-wrapper {
    padding-top: $base-size-l;
}
