<form action="#" id="filter-form">
    <div class="categories" aria-label="{{ cat_title }}">
        <p class="categories__label wrapper h5">Filtrez par catégories&nbsp;:</p>
        {{ svg src="css/claw-shapes" class="categories__claw" }}
        <ul class="slider slider--cat wrapper">
            {{ taxonomy:courses_categories }}
        <li class="categories__category slider__slide">
            <input style="display: none" id="{{ slug }}"
                   type="checkbox" {{ (get | contains(slug)) ? 'checked' : '' }}
                   name="{{ slug }}" value="1">
        <label for="{{ slug }}" class="categories__category__link">
            <span class="categories__category__link__icon">{{ icon }}</span>
            <span>{{ title }}</span>
            {{ partial src="partials/category-levels" :items="category_levels" }}
            </label>
            </li>
            {{ /taxonomy:courses_categories }}
        </ul>
        <div class="categories__cta wrapper">
            <button type="submit" class="btn hidde-by-js">Filtrez les formations</button>
        </div>
    </div>
    {{ svg src="css/star" class="categories__star" }}
    <div class="wrapper tag-filter">
        <p class="h5">Filtrez par <span lang="en" title="étiquettes">tags</span>&nbsp;:</p>
        {{ taxonomy:tags }}
            <div class="tag-filter__item">
                <input type="checkbox" id="{{ slug }}" name="{{ slug }}" {{ (get | contains(slug)) ? 'checked' : '' }}
                       value="1">
                <label title="{{ description | smartypants }}" for="{{ slug }}">{{ title }}</label>
            </div>
        {{ /taxonomy:tags }}
    </div>
</form>
