<div class="wrapper search-wrapper">
    <h1 class="search-wrapper__header">{{page_title}}</h1>
</div>
{{ partial:courses.filter }}
<ul class="wrapper grid-card">
    {{ collection:courses sort="title" }}
        {{ if horaire }}
            <li class="card card--course swiper-slide" {{ if courses_categories }}data-cat="{{ courses_categories }}{{ slug }}{{ /courses_categories }}"{{ endif }}   {{ if tags }}data-tags="{{ tags }}{{ slug }}{{ /tags }}"{{ endif }}>
                <div class="card__content">
                    <div class="f-grow">
                        <p class="card__title h5">{{ title }}</p>
                    </div>
                    <div class="card__CTAs card__CTAs--small">
                        <a href="{{ horaire:url }}" class="btn btn--secondary"
                           title="Voir L’horaire au format (PDF : {{ horaire:size }}) de la formation {{ title }}">Voir
                            l’horaire
                            (PDF){{ is_aside ? "<sup>*</sup>" : "" }}<span
                                class="visually-hidden"> de la formation {{ title }}</span></a>
                    </div>
                </div>
            </li>
        {{ endif }}
    {{ /collection:courses }}
</ul>
<div class="wrapper warn-message warn-message--course-slider">
    <p>Les filtres appliqués sont trop restrictifs, nous n'avons pas de formation correspondant à tous ces critères.
        N'hésitez pas à désélectionner certaines catégories ou tags pour élargir vos résultats.</p>
</div>
