<article class="card card--course">
    <div class="card__content">
        {{ if is_new }}
            <span class="card__new"><span
                class="visually-hidden">Il s’agit d’une nouvelle formation</span>{{ svg src="css/new" }}</span>
        {{ endif }}
        <div class="card__img-container">
            <img src="{{ glide:img preset="thumbnail" }}" alt="{{ img['alt'] }}">
            {{ if formation_categories }}
                {{ courses_categories }}
                <div class="card__img-container__cat">{{ icon }}<span>{{ title }}</span></div>
                {{ /courses_categories }}
            {{ endif }}
        </div>
        {{ if formations_levels }}
            <ul class="levels">
                {{ courses_levels }}
                <li class="levels__level levels__level--{{ abbr | upper }}"><abbr
                    title="{{ title }}"></abbr>{{ abbr }}</li>
                {{ /courses_levels }}
            </ul>
        {{ endif }}

        <h2 class="card__title h4">{{ title }}</h2>
        {{ if subtitle }}
            <p class="card__subtitle">{{ subtitle }}</p>
        {{ endif }}

        {{ if tag }}
            <ul class="card__tags">
                {{ tag }}
                <li title="{{ description | smartypants }}">#{{ title }}</li>
                {{ /tag }}
            </ul>
        {{ endif }}

        {{ overview }}
        <dfn>
            {{ if admission_conditions }}
                <div class="card__content__spacer">

                    <dt>Conditions d'admission&nbsp;:</dt>
                    <dd>{{ admission_conditions:label }}</dd>
                    <dd>ou {{ conditions_dadmission_epreuve:label }}</dd>
                </div>
            {{ endif }}

            {{ if type_delivered && course_name }}
                <div class="card__content__spacer">
                    <dt>Titre délivré&nbsp;:</dt>
                    <dd>{{ type_delivered:label }}&nbsp;: {{ course_name }}</dd>
                </div>
            {{ endif }}
            {{ if duration }}
                <div class="card__content__spacer">

                    <dt>Durée minimale de la formation &nbsp;:</dt>
                    <dd>{{ duration }}</dd>
                </div>
            {{ endif }}
        </dfn>
        <div class="card__CTAs">
            <a href="{{ url }}" class="btn btn--secondary">Voir la formation<span
                class="visually-hidden"> : {{ title }}</span></a>
            {{ if horaire }}
                <a href="{{ horaire:url }}" class="btn btn--secondary"
                   title="Voir L’horaire au format (PDF) de la formation {{ title }}">Voir l’horaire (PDF)<span
                    class="visually-hidden"> de la formation {{ title }}</span></a>
            {{ endif }}
        </div>
    </div>
</article>
