{{ if is_aside }}
    <aside class="card card--course">
{{ else }}
    <article class="card card--course slider__slide card--show"
             {{ if courses_categories }}data-cat="{{ courses_categories }}{{ slug }}{{ /courses_categories }}"{{ endif }}
    {{ if tags }}data-tags="{{ tags }}{{ slug }} {{ /tags }}"{{ endif }}>
{{ /if }}
    <div class="card__content">
        {{ unless is_aside }}
        <div class="f-grow">
        {{ /unless }}
        {{ unless is_aside }}
            {{ partial src="partials/is-new" }}
        {{ /unless }}
        <div class="card__img-container">
            <img src="{{ glide:img preset="thumbnail" }}" alt="{{ img['alt'] }}">
            {{ if courses_categories }}
                {{ courses_categories }}
                <div class="card__img-container__cat">{{ icon }}<span>{{ title }}</span></div>
                {{ /courses_categories }}
            {{ endif }}
        </div>
        {{ partial src="partials/category-levels" class="levels--course" :items="courses_levels" }}
        {{ if is_aside }}
            <h2 class="visually-hidden">Informations importantes</h2>
        {{ else }}
            <h2 class="card__title h5">{{ title }}</h2>
            {{ if subtitle }}
                <p class="card__subtitle">{{ subtitle }}</p>
            {{ endif }}
        {{ /if }}

        {{ if tags }}
            <ul class="card__tags">
                {{ tags }}
                <li title="{{ description | smartypants }}">#{{ title }}</li>
                {{ /tags }}
            </ul>
        {{ endif }}

        <p>{{ overview }}</p>
        <dfn>
            {{ if is_aside }}
                {{ if admission_conditions }}
                    <div class="card__content__spacer">
                        <dt>Conditions d’admission par diplôme&nbsp;:</dt>
                        <dd>{{ admission_conditions:label }}</dd>
                    </div>
                {{ endif }}
                {{ if conditions_dadmission_epreuve }}
                    <div class="card__content__spacer">
                        <dt>Ou conditions d’admission par épreuve&nbsp;:</dt>
                        <dd>{{ conditions_dadmission_epreuve:label }}</dd>
                    </div>
                {{ endif }}
            {{ /if }}
            {{ if type_delivered && course_name }}
                <div class="card__content__spacer">
                    <dt>Titre délivré&nbsp;:</dt>
                    <dd>{{ type_delivered:label }}&nbsp;: {{ course_name }}</dd>
                </div>
            {{ endif }}
            {{ if duration }}
                <div class="card__content__spacer">
                    <dt>Durée minimale de la formation&nbsp;:</dt>
                    <dd>{{ duration }}</dd>
                </div>
            {{ endif }}
            {{ if is_aside }}
                {{ if place }}
                    <div class="card__content__spacer card__content__spacer--float">
                        <dt>Lieu de la formation&nbsp;:</dt>
                        <dd>{{ place }}</dd>
                    </div>
                {{ endif }}
            {{ endif }}
        </dfn>
        {{ unless is_aside }}
        </div>
        {{ /unless }}
        <div class="card__CTAs">
            {{ if is_aside }}
                {{ if dp_section }}
                    <a href="{{ dp_section:url }}" class="btn btn--secondary"
                       title="Voir dossier pédagogique de la section {{ title }} au format (PDF : {{ dp_section:size }})">Dossier
                        pédagogique
                        de la
                        section (PDF)</a>
                {{ /if }}
            {{ else }}
                <a href="{{ url }}" class="btn btn--secondary">Voir la formation<span
                    class="visually-hidden"> : {{ title }}</span></a>
            {{ /if }}

            {{ if horaire }}
                <a href="{{ horaire:url }}" class="btn btn--secondary"
                   title="Voir L’horaire au format (PDF : {{ horaire:size }}) de la formation {{ title }}">Voir
                    l’horaire
                    (PDF){{ is_aside ? "<sup>*</sup>" : "" }}<span
                        class="visually-hidden"> de la formation {{ title }}</span></a>
            {{ endif }}

            {{ if is_aside }}
                {{ if horaire }}
                    <p><sup>*</sup><small>Cette horaire est donné à titre indicatif, susceptible de changer. Seul
                        l’horaire affiché
                        aux
                        valves de l’école aura valeur officielle.</small></p>
                {{ /if }}
            {{ /if }}
        </div>
    </div>
{{ if is_aside }}
    </aside>
{{ else }}
    </article>
{{ /if }}
