.ue {
    &__header {
        padding: $base-size;
        background: $primary;
        border-radius: $base-size $base-size 0 0;
        margin: 0;
    }

    &__caption {
        display: flex;
        flex-direction: row;
        gap: $base-size;

        :first-child {
            text-align: left;
            font-weight: bold;
        }

        :last-child {
            text-align: right;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    input[type="checkbox"] {
        display: none !important;
    }

    &__years {
        display: flex;
        flex-direction: column;

        &_year {
            display: grid;
            grid-template-rows: auto 0;
            transition: $transition;
            overflow-y: hidden;


            &__name {
                background: $light-shade;
                display: flex;
                justify-content: space-between;
                padding: $base-size-s $base-size-s $base-size-s $base-size;
                color: $secondary;
                border-radius: $base-size-xs;
                margin: $base-size-l 0;
                margin-bottom: 0;
                transition: $transition;

                .arrow-down-menu {
                    width: $base-size;
                    height: auto;
                    stroke: $secondary;
                }

                &:hover {
                    color: $primary;

                    .arrow-down-menu {
                        stroke: $primary;
                    }
                }
            }

            &__courses {
                &__course {
                    display: flex;
                    gap: $base-size-s;
                    padding: $base-size 0 $base-size $base-size;
                    transition: $transition;
                    cursor: pointer;
                    justify-content: start;

                    svg {
                        min-width: $base-size !important;
                        height: auto;
                    }

                    &__name {
                        font-weight: bold;
                        flex-grow: 1;
                        display: flex;
                        gap: $base-size-s;
                        align-items: start;
                    }

                    &__hours {
                        min-width: fit-content;
                        word-break: keep-all;
                        text-align: right;
                    }
                }
            }
        }

    }

    small {
        padding-top: $base-size-l;
        display: block;
    }
}

.ue__years_year:has(input:checked) {
    grid-template-rows: auto auto;
}
